.collection-info-squares-container {
  // justify-content: center;

}
.collection-info-square {
  // width: 100%;
  padding: 5px;
  // display: flex;
  // align-items: center;
  // flex-direction: column;
  // border-left: 1px solid rgb(224, 224, 224);
  &:first-child {
    border-left: 0px;
  }
}
.box-value {
  font-weight: 500;
  height: 30px;
  align-items: center;
  margin-bottom: 0.3125rem;
}
.box-value {
  font-size: 1.1rem;
  line-height: 2rem;
  align-items: center;
}
mat-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 200px;
  max-width: 350px;
}
