.product-body {
  margin-bottom: 10px;
  padding: 20px;
  background-color: white;
  width: 580px;
}
.mat-card {
  min-height: 165px;
}
.image-card {
  height: 150px;
}
.details-card {
  height: 150px;
}

.image-container {
  // width: 145px;
  // width: 200px;
}
.image-container img {
  // width: 200px;
  width: 150px;
}
.details-container {
  // width: 280px;
  width: 100%;
}
.name-container {
  height: 64px;
  // width: 250px;
  width: 100%;
}
.grid-container {
  display: grid;
  grid-template-columns: 200px auto auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}
.grid-item {
}

.grid-item-2 {
  grid-column: 2 / span 2;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}
.group-label {
  border-radius: 3px;
  background-color: #f44336;
  padding: 10px;

  float: none;
  display: inline-block;
  margin-right: 0;
  .group-label-text {
    margin-top: 0;
    color: #fff;
    margin-bottom: 0px;
  }
}
