<div *ngIf="isAuthenticated | async">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="profile-container">
            <img src="../../../assets/racer-head.png" alt="" />
          </div>
          <div>
            {{ userName | async }}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list-item routerLink="[child.route]">
        <div>
          <a
            class="nav-link"
            [routerLink]="['/authentication/logout']"
            [state]="{ local: true }"
            title="Logout"
            >Logout</a
          >
        </div>
      </mat-list-item>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div *ngIf="!(isAuthenticated | async)" class="log-in">
  <div
    class="d-flex justify-content-between"
    *ngIf="!(isAuthenticated | async)"
  >
    <div class="">
      <a class="nav-link" [routerLink]="['/authentication/login']">Login</a>
    </div>
    <div>
      <a class="nav-link" [routerLink]="['/authentication/register']"
        >Register</a
      >
    </div>
   
  </div>
</div>
