.search-form {
  min-width: 450px;
  max-width: 500px;
}

.search-full-width {
  width: 100%;
}

.search-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .search-option-img {
  margin-right: 0;
  margin-left: 8px;
}

.mat-option {
  height: 100px;
  //   line-height: 20px;
  //   padding: 0px;
}
.search-item-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.75rem 0px;
  p {
    word-break: break-word;
    line-height: 1.1875rem;
    margin: 0px;
  }
  .search-item-name {
    margin-bottom: 0.3125rem;
    font-size: 0.875rem;
  }
  .search-item-code {
    word-break: break-word;
    line-height: 1.1875rem;
    font-size: 0.75rem;
    color: rgb(117, 117, 117);
    margin: 0px 0px 0.9375rem;
  }
  .search-item-price {
    word-break: break-word;
    line-height: 1.1875rem;
  }
  img {
    width: 5rem;
    margin-right: 1.25rem;
  }
}
