<div>
  <div class="row">
    <div class="col">
      <app-product-filters></app-product-filters>
    </div>
  </div>
  <div class="row mb-3" *ngIf="collection$ | async as collection">
    <div class="col-md-6 col">
      <app-collection-summary-card [collection]="collection">
      </app-collection-summary-card>
    </div>
  </div>

  <div class="products-container">
    <div *ngIf="!(loading$ | async); else loading">
      <app-products-list
        [products]="products$ | async"
        [collections]="collections"
        [detailLevel]="detailLevel"
        [collectionId]="collectionId"
        (productSelected)="selectProduct($event)"
      ></app-products-list>
      <app-product-pager
        [length]="(total$ | async) || 0"
        [pageIndex]="page - 1"
        (onNextPage)="loadNextPage()"
        (onPreviousPage)="loadPreviousPage()"
      ></app-product-pager>
    </div>
    <ng-template #loading>
      Loading...
    </ng-template>
  </div>
</div>
