.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-success {
    background-color: #36f456;  
} 
.alert{
    padding: 10px;
    // color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    // text-align: center;
}