<div class="row">
  <div class="col">
    <div class="image-card">
      <div class="image-container">
        <img [src]="product.mainImageUrl | image" class="center" />
      </div>
    </div>
  </div>
  <div class="col">
    <div class="details-card">
      <div class="details-container">
        <div class="theme-container">
          <img [src]="product.themeImageUrl | image: 'small'" />
        </div>
        <div class="name-container mt-2">
          <a
            [routerLink]="['/products', product.productCode]"
            class="product-link"
          >
            <h2>{{ product.name }}</h2>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3 border-row">
  <div class="col">
    <div>
      <app-product-info-squares [product]="product"></app-product-info-squares>
    </div>
  </div>
</div>
<div class="row spacer"></div>
<div class="row mt-3">
  <div class="col">
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z0" [expanded]="expanded">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Collections
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-collection-card
          [currentProduct]="product"
          [collections]="collections"
        ></app-collection-card>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
